@font-face {
  font-family: "AlumniSans";
  src: local("AlumniSans Regular"), local("AlumniSans-Regular"),
    url("~@/assets/fonts/AlumniSans-VariableFont_wght.woff2") format("woff2"),
    url("~@/assets/fonts/AlumniSans-VariableFont_wght.woff") format("woff");
  font-weight: 400;
  font-style: normal;
}

@font-face {
  font-family: "Gidole";
  src: local("Gidole Regular"), local("Gidole-Regular"),
    url("~@/assets/fonts/Gidole-Regular.woff2") format("woff2"),
    url("~@/assets/fonts/Gidole-Regular.woff2") format("woff");
  font-weight: 400;
  font-style: normal;
}
