@import 'variables';
/*
	здесь мы переопределяем все стили vuetify которые нельзя заменить в теме
 */
@import '~vuetify/src/styles/styles.sass';

#app {
  //todo replace
  .v-dialog {
    .btn-primary {
      width: 80px !important;
    }
  }

  p {
    margin-bottom: 0;
  }

  a {
    color: $white;
  }

  ul {
    list-style-type: none;
    padding: 0;
    margin: 0;
  }

  li {
    list-style-type: none;
    //padding: 0;
    //margin: 0;
  }
}